.card {
  color: #000000;
  background-color: #111111;
}
.card col{
    background-color: aqua !important;
}
.card-image {
  margin: 10px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 50;
}
.card-image img {
  border-radius: 50% !important;
  width: 100%;
  height: 100%;
  margin: 60px;
}

.card .horizontal {
  background-color: #e8f5e9;
}

.card .buttons {
  display: flex;
  justify-content: flex-end;
}
