.card {
  color: #000000;
  transition: all ease-in-out 0.2s;
}
.card col {
  background-color: aqua !important;
}

.card.horizontal {
  background-color: #e8f5e9;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.card-image {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.img-placeholder {
  background-color: antiquewhite;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/** cool effect below */
/* .card:focus-within~.card, .card:hover~.card {
  transform: translateY(130px);
}

.card:hover {
  transform: translateX(1rem);
}

.card:not(:first-child) {
  margin-top: -130px;
} */
